.TextBoxContainer {
  background: #fff;
  border: 1px solid #e9ebef;
  padding: 7px 7px 7px 14px;
}
.TextBox {
  overflow-y: auto;
  padding-right: 7px;

  &::-webkit-scrollbar {
    background-color: #e9ebef;
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0a2757 0%, #6e7b9e 100%);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e9ebef;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0a2757 0%, #6e7b9e 100%);
  }
}
