.Info {
  cursor: pointer;
  position: relative;
  & .i {
    align-items: center;
    background-color: #bac1d2;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 10px;
    height: 12px;
    justify-content: center;
    width: 12px;
    &:hover {
      background-color: #8969b5;
    }
  }
  & .Balloon {
    z-index: 10;
    & .Triangle {
      border-bottom: 10px solid #8969b5;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: none;
      height: 0;
      position: absolute;
      right: -2px;
      top: 14px;
      width: 0;
      z-index: 10;
    }
    & .Message {
      background-color: #8969b5;
      border-radius: 5px;
      color: white;
      display: none;
      font-size: 10px;
      padding: 5px;
      position: absolute;
      right: -10px;
      top: 22px;
      z-index: 10;
    }
  }
  &:hover {
    .Message {
      display: flex;
    }
    .Triangle {
      display: block;
    }
  }
}
