.InputWrapper {
  border: none;

  & .Label {
    color: var(--secondary-color-font);
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 1 6px;
    text-transform: uppercase;
  }

  & .InputBox {
    border: 1px solid rgba(144, 158, 193, 0.5);
    border-radius: 5px;
    color: var(--cba);
    height: 34px;
    margin-top: 4px;
    outline: none;
    padding: 5px;
    width: 100%;

    &.mini {
      font-size: 12px;
      height: 24px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
